*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

:root {
  // background-color
  --bg-primary-color: rgb(14, 14, 14);

  // Text colors
  --text-primary-color: rgb(236, 236, 236);

  // Spacing
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 48px;

  // border colors
  --border-primary-color: rgb(103, 103, 103);

  // border radius
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --border-radius-xl: 24px;
  --border-radius-xxl: 32px;

  // snake colors
  --snake-color: rgb(190, 194, 191);
}

body {
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#main {
  padding: var(--spacing-lg);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);

  #infos {
    width: 100%;
    display: flex;
    justify-content: space-between;

    #info {
      border: 1px solid var(--border-primary-color);
      padding: var(--spacing-xs) var(--spacing-sm);
      border-radius: var(--border-radius-md);
    }
  }
  #board {
    border: 1px solid var(--border-primary-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));

    .block {
      width: 50px;
      height: 50px;
      border: 1px solid var(--border-primary-color);
    }
  }
}

.snake {
  background-color: var(--snake-color);
}
