*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

:root {
  // background-color
  --bg-primary-color: rgb(14, 14, 14);
  --bg-secondary-color: rgba(23, 20, 20, 0.418);

  // Text colors
  --text-primary-color: rgb(241, 237, 237);
  --text-secondary-color: rgb(11, 11, 11);

  // Spacing
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 48px;

  // border colors
  --border-primary-color: rgb(103, 103, 103);

  // border radius
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --border-radius-xl: 24px;
  --border-radius-xxl: 32px;

  // snake colors
  --snake-color: rgb(236, 236, 236);

  // food colors
  --food-color: rgb(220, 38, 38);
}

body {
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}



#start-page , #over-page {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: var(--bg-secondary-color);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;

  .start-game , .over-game {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    align-items: center;

    #start-btn , #restart-btn {
      padding: var(--spacing-sm) var(--spacing-lg);
      border: none;
      border-radius: var(--border-radius-md);
      background-color: var(--snake-color);
      color: var(--text-secondary-color);
      font-weight: 800;
      cursor: pointer;
      transition: all 0.3s ease;
    }
    #start-btn:hover , #restart-btn:hover {
      transform: scale(1.1);
    }
    #start-btn:active , #restart-btn:active {
      transform: scale(0.9);
    }
  }
}

#over-page{
  display: none;
}

#main {
  padding: var(--spacing-lg);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);

  #infos {
    width: 100%;
    display: flex;
    justify-content: space-between;

    #info {
      border: 1px solid var(--border-primary-color);
      padding: var(--spacing-xs) var(--spacing-sm);
      border-radius: var(--border-radius-md);
    }
  }
  #board {
    border: 1px solid var(--border-primary-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));

    .block {
      width: 50px;
      height: 50px;
      border: 1px solid var(--border-primary-color);
      border-radius: 50%;
    }
  }
}

.snake {
  background-color: var(--snake-color);
}

.food {
  background-color: var(--food-color);
}
