*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  @include flex();
}
#mainBox {
  @include flex();
  flex-direction: column;
  gap: 3rem;

  #change {
    padding: 0.5rem 0.8rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-weight: 800;
    font-size: large;
    cursor: pointer;
  }

  #change:active {
    scale: 0.85;
  }

  #box {
    height: 10rem;
    width: 10rem;
    border-radius: 0.5rem;
    background-color: crimson;
  }
}
