*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: linear-gradient(
    to bottom right,
    rgb(0, 0, 0),
    rgb(38, 10, 10),
    rgb(0, 0, 0),
    rgb(75, 2, 2)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: whitesmoke;
}

@property --rotate {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@keyframes rotate {
  from {
    --rotate: 0deg;
  }
  to {
    --rotate: 360deg;
  }
}

#box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 300px;
  background-size: cover;
  border-radius: 16px;
  padding-inline: 10px;
  padding-bottom: 10px;
  box-shadow: 0 0px 0px rgb(224, 19, 19);
  background: linear-gradient(black) padding-box,
    conic-gradient(from var(--rotate), black, rgb(255, 0, 0), black) border-box;
  border: 0px solid transparent;
  animation: rotate 1.5s linear;
  animation-iteration-count: 0;

  &:hover {
    border: 5px solid transparent;
    animation-iteration-count: infinite;
    box-shadow: 0 0px 50px rgb(224, 19, 19);
    color: rgb(224, 19, 19);
    text-shadow: 0 0 10px rgb(224, 19, 19);
  }

  h3 {
    font-size: 24px;
    font-weight: 800;
  }

  p {
    font-size: 16px;
    text-align: center;
    font-weight: 500;
  }

  img {
    width: 100%;
    object-fit: cover;
  }
}
